
.idea/codeStyleSettings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/Pix.iml
.idea/typescript-compiler.xml
.idea/vcs.xml
.idea/workspace.xml
.DS_Store
*.http
.idea/httpRequests/2017-11-26T052559.200.html
