/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
    min-height: 100%;
    position: relative;
    /*  background-color: hsl(198, 34%, 14%);*/
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: #17282F;*/
    /*----- LOGIN12 ---------
    background: url("assets/login12.jpg") -400px 0;
    background-size: auto 185%;*/
    /* ---- LOGIN13 --------
    background: url("assets/login13.jpg") -400px 0;
    background-size: auto 185%; */
    /* ------ LOGIN15 ------
    background: url("assets/login15.jpg") -300px -150px;
    background-size: auto 190%; */
    /* ------ LOGIN17 ------*/
    background: url("assets/login17.jpg");
    background-size: auto 170%;
    /* ----- LOGIN18 -----
    background: url("assets/login18.jpg");
    background-size: auto 170%;*/
    background-repeat: no-repeat;
    color: #f19645;
}