/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    min-height:100%;
    position: relative;    
}

body {
    min-height:100%;
    margin: 0;
    padding:0;
    color: #f19645;
    
    background: url("assets/login17.jpg");
    background-size: auto 170%;
    background-repeat: no-repeat;
}

