body{
    margin: 0;
}
.color{
    background-color: #17282f;
    color: #f8f1d4;
}

nav{
    margin-bottom: 0;
}

nav a{
    color: #f8f1d4;
}

nav a:hover{
    color:#f19645;
}

nav a :active{
    color:#f19645;
}
