.color{
    background-color: #17282f;
    color: #f8f1d4;
}

nav{
    margin-bottom: 0;
    border: none #17282f !important;
}

nav a{
    color: #f8f1d4;
    font-size: 2.5vh;
    
}

nav a:hover{
    color:#f19645;
}

nav a :active{
    color:#f19645;
}


.customClass {
    background-color: #dd3;
    border-radius: 0px;
    width: 0px;
}

.container { 
    width:300px; 
    height: 100px; 
    overflow-y: scroll; 
}


.dropdown-menu{
    background-color: #f8f1d4 !important;
    min-width: 0 !important;
    text-align: center;

}

.dropdown-menu li {
    cursor: pointer;
}

.dropdown-menu a:hover {
    background-color: #f19645;
}

.dropdown pull-right{
    width: 10px;
    background: transparent !important;
}


.dropdown pull-right open{
    width: 100px; 

}
h1{
    width: 40px;
    height: 40px;
    background-image: url("../../assets/logo45px.png")
}

.navbar-brand{
    display: none;
}

.navbar-header{
    margin-top: -10px;
}

.imgAvatar{
    width: 40px;
    height: 40px;
}

#dropdownMenu1{
    background-color: transparent !important;
    color: white;
    border: none;
    height: 57px;
}

.caret{
    width: 4px;
}

ul.dropdown-menu .btn {
    background-color: #4F888A;
}
