.color{
    background-color: #17282f;
    color: #f8f1d4;
}

nav{
    margin-bottom: 0;
    border: none #17282f !important;
}

nav a{
    color: #f8f1d4;
}

nav a:hover{
    color:#f19645;
}

nav a :active{
    color:#f19645;
}


.customClass {
    background-color: #dd3;
    border-radius: 0px;
    width: 0px;
}

.container { 
    width:300px; 
    height: 100px; 
    overflow-y: scroll; 
}


.dropdown-menu{
    background: transparent !important;
}

.dropdown pull-right{
    width: 10px;
    background: transparent !important;
}
