<nav class="navbar navbar-default col-md-12 color">
  <div class="container-fluid ">
    <div class="navbar-header">
     <h1><a class="navbar-brand" routerLink="/events">{{appName}}</a></h1> 
    </div>
    <div class="dropdown pull-right" >
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img class="imgAvatar" src="{{file}}">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li *ngFor="let item of img" (click)="select(item)"><a ><img src="{{item}}"></a></li>
            <li>
              <button type="button" class="btn btn-primary" routerLink="/login">Logout</button>
            </li>         
        </ul>
      </div>
      <ul class="nav navbar-nav pull-right">
          <li>
            <a routerLink="/home">HOME</a>
          </li>
          <li>
            <a routerLink="/newevent">NEW EVENT</a>
          </li>
          <li>
            <a routerLink="/myevents">MY EVENTS</a>
          </li>
        </ul>
  </div>
</nav>