<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="layout.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Event - Pix</title>
        <script src="https://use.fontawesome.com/2d4722d32d.js" async defer></script>
</head>

<body>
    <header>
        <img id="logo" src="" alt="logo">
        <nav>
            <div id="navContainer">
                <a href="index.html">HOME</a>
                <a href="new_event.html">NEW EVENT</a>
                <a href="calendar.html">CALENDAR</a>
                <a href="my_events.html">MY EVENTS</a>
                <img src="" alt="avatar">
            </div>
        </nav>
    </header>
    <footer>
        <p>Made with  <i class="fa fa-heart" aria-hidden="true"></i>  in Italy</p>
        <p>&copy; Copyright PIX 2017</p>
    </footer>
</body>

</html>