.row {
    background-color: #17282F;
    margin-right: 0 !important;
    margin-left: 0 !important;
    font-family: "Roboto Slab", serif;    
}

.img-event{
    float:left;
    height:28.3vh;
    background: rgb(184, 89, 0);
    cursor: pointer;
    background-image: url("../../assets/images/eve4.jpg");
    background-size: 100% 100%;
}

.img-event1{
    background-image: url("../../assets/images/eve1.jpg");
    background-size: 100%;    
    height: 28.3vh;
}

.incomingbox{
    background: #F8F1D4;
    height:28.3vh;
    color: #4F888A;
    margin-top: 0;
    float: left;
    cursor: pointer;    
 }

 .incoming{
     color: #f19646;
     font-size: 3vh;
     margin-top: 9%;
     margin-left: 15%;
 }

.nameEventHome{
    font-size: 5vh;
    margin-left: 15%;    
}

.dateEventHome{
    font-size: 4vh;   
    margin-top: 5%;
    margin-left: 15%;
}

.ownerEventHome{
    margin-left: 40%;
}

.box{
    height: 100vh;
    width: 100vw;
}

.owner{
    background: #F8F1D4;
    height:28.3vh;
    color: #4F888A;
    margin-top: 0;
    float: left;
 }