.row {
    background-color: #17282F;
}

.img-event {
    float: left;
    height: 28.3vh;
}

.incoming {
    float: left;
    margin-top: 0;
    height: 28.3vh;
}

.owner {
    float: left;
    margin-top: 0;
    padding-left: 5%;
    height: 28.3vh;
}