            

      nav.logo_menu{
        background-color:#17282A; 
        color: #F2EDD8;

      }
      nav a {
        color: #F2EDD8;
        font-size: 24px;
        font-family: 'Roboto Slab', serif; /* FONT */ 
      }
      a img {
        width: 40px;
        height: 40px;
        margin: auto;
        border-radius: 40px;
      }
      .logo{
        padding-left: 30px;
        padding-top: 5px;
      }


      div.logo{
        float: left;
      }

      /* ------------------------------------------------- */

      div.contenitore{
        width: 100%;
        padding-top: 30px;
        padding-bottom: 50px;

      }
      div form{
        padding-top: 30px;
        margin: auto;
        width: 70%;
      }

      /* FOOTER */
    footer {
      background-color: #17282A;
      text-align: center;
      color: #F2EDD8;
      font-size: 14px;
      

    }
      /* ------------------------------------------------- */


    
