<nav xmlns="http://www.w3.org/1999/html">
  <app-menu></app-menu>
</nav>
<div class="row">
  <div class="myEventContainer1 col-md-12">
    <div class="myEvent col-md-4 col-md-offset-4">New Event</div>
  </div>
  
</div>
<div class="row">
  <div class="col-md-3 background">
    <button type="button" class="btn pull-right colorBtn">
      <i class="glyphicon glyphicon-pencil"></i>
    </button>
  </div>

  <form class="col-md-9">
    <div class="row mt-3">
      <div class="form-group col-lg-4 col-lg-offset-2">
        <label for="eventname">Event's name:</label>
        <input type="text" id="eventname" class="form-control" name="name" [(ngModel)]="name" placeholder="Event Name">
      </div>

      <div class="form-group col-lg-4">
        <label for="date">Date:</label>
        <input type="date" id="date" class="form-control" [(ngModel)]='day' name="day">
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-lg-4 col-lg-offset-2">
        <label class="col-lg-5" for="place">Place:</label>
        <input type="text" id="place" class="form-control col-lg-7" name="location" [(ngModel)]="location">
      </div>

      <div class="form-group col-lg-4">
        <label for="time">Time:</label>
        <input type="time" id="time" class="form-control" name="time" [(ngModel)]="time">
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-lg-8 col-lg-offset-2">
        <label for="description">Description:</label>
        <textarea id="description" class="form-control" name="description" [(ngModel)]="description"></textarea>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg-3 text-center col-lg-offset-2">
        <button type="reset" class="btn">CANCEL</button>
      </div>
      <div class="col-lg-3 text-center col-lg-offset-2">
        <button type="button" class="btn" (click)="createEvent()">CREATE</button>
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>
