<app-menu></app-menu>
<div class="col-md-12">
  <div class="col-md-4 col-md-offset-4">My Events </div>
</div>
<div class="col-md-10 col-md-offset-2" *ngFor="let item of myEvents">
  <p class="col-md-2" >{{item.name}}</p>
  <p class="col-md-2" >{{item.date}}</p>
  <p class="col-md-2" >{{item.time}}</p>
  <p class="col-md-2" >{{item.place}}</p>
  <button type="button" class="btn btn-default" routerLink='/editevent' (click)="ciccio(item)">
      <i class="glyphicon glyphicon-pencil"></i>Edit</button>
</div>
