body{
    margin: 0 auto;
}
button{
    margin-bottom:5%;
    margin-top:60vh;
    z-index: 2;
    float:left;
    background-color: #f19645;
    border-radius: 50%;
    border: 3px solid #f19645;
    margin-left: 60%;
}

.aside {
    margin-top:0;
    height:85vh;
    float:left;
    background-color: #17282f;
    color: #f8f1d4;
}

.group-image{
    margin-top:5%;
    margin-bottom: 5%;
}