<app-menu></app-menu>
<app-aside></app-aside>
<div class="eventDetail_container">
  <div id="side_bar" class="col-lg-1">
    <div class="count_div">
      <div id="count">11</div>
      <p>PARTECIPANS</p>
    </div>
    <div id="buttonAddChange">
      <button type="button" id="addChange_btn">ADD CHANGE</button>
    </div>
  </div>
  <div class="eventDetail col-lg-4 pull-right">
    <h1>{{details.name}}</h1>
    <h3>{{details.date | date:'dd/MM/yyyy'}}</h3>
    <h3>{{details.time}}</h3>
    <h3>{{details.place}}</h3>
    <p>{{details.description}}</p>
    <h3>{{details.owner}}</h3>
  </div>

</div>
<app-footer></app-footer>